.navbar{
	background: #041622;
}
.navbar-wrapper{
	height: 70px;
	background: #041622;
}
.navbar .head-logo{
	width: 162px;
	height: 35px;
	margin-top: 16px;
	background: url(../img/head-side/logo.png) no-repeat;
	background-size: 100% 100%;
}
.checkstand-icon{
	width: 26px;
	height: 26px;
	display: inline-block;
	background: url(../img/head-side/checkstand.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: 5px;
	left: -5px;
}
.message-icon{
	width: 24px;
	height: 26px;
	display: inline-block;
	background: url(../img/head-side/message.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: 5px;
	left: -5px;
}
.help-icon{
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url(../img/head-side/help.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: 5px;
	left: -5px;
}
#Hui-userbar .user-icon{
	padding: 0;
	width: 26px;
	height: 26px;
	display: block;
	background: url(../img/head-side/user.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: 5px;
	left: -5px;
}
