.navbar{
	background: #041622;
}
.navbar-wrapper{
	height: 70px;
	background: #041622;
}
.navbar .head-logo{
	width: 162px;
	height: 35px;
	margin-top: 16px;
	background: url(../images/logo.png) no-repeat;
	background-size: 100% 100%;
}
.checkstand-icon{
	width: 26px;
	height: 26px;
	display: inline-block;
	background: url(../images/checkstand.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: 5px;
	left: -5px;
}
.message-icon{
	width: 24px;
	height: 26px;
	display: inline-block;
	background: url(../images/message.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: 5px;
	left: -5px;
}
.help-icon{
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url(../images/help.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: 5px;
	left: -5px;
}
#Hui-userbar .user-icon{
	padding: 0;
	width: 26px;
	height: 26px;
	display: block;
	background: url(../images/user.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: 5px;
	left: -5px;
}
.menu_dropdown .home-icon{
	width: 27px;
	height: 24px;
	background: url(../images/home-icon.png) no-repeat;
	background-size: 100% 100%;
}
.menu_dropdown .vipManage-icon{
	width: 23px;
	height: 24px;
	background: url(../images/vip-icon.png) no-repeat;
	background-size: 100% 100%;
}
.menu_dropdown .weixin-icon{
	width: 26px;
	height: 26px;
	background: url(../images/weixin.png) no-repeat;
	background-size: 100% 100%;
}
.menu_dropdown .market-icon{
	width: 24px;
	height: 24px;
	background: url(../images/market.png) no-repeat;
	background-size: 100% 100%;
}
.dislpayArrow a {
	position: absolute;
	display: block;
	width: 17px;
	height: 61px;
	top: 50%;
	margin-top: -30px;
	outline: none;
	background: url(../images/side-icon.png);
}

/*组件*/

.weixin-table{
	text-align: center;
	border: 1px solid #e5e5e5;
}
.weixin-table th{
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	background: #eeeeee;
	border: 1px solid #e5e5e5;
}
.weixin-table td{
	font-size: 16px;
	padding: 5px 0;
}
.weixin-table-operate span{
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
.weixinTable-operate1{
	width: 37px;
	height: 22px;
	background: url(../../biz/weixin/images/weixinArticle-operate1.png);
}
.weixinTable-operate2{
	width: 19px;
	height: 25px;
	background: url(../../biz/weixin/images/weixinArticle-operate2.png);
}
