.productAdd-classify select{
	width: 50%;
}
.productAdd-chekbox{
	width: 40%;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	margin-top: -20px;
	margin-bottom: 20px;
	padding-left: 6%;
}
.productAdd-chekbox p{
	margin: 2px 10px;
	white-space: nowrap
}
.specTabel{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.specTabel th{
	text-align: center;
	border: 1px solid #BFBFBF;
}
.specTabel td{
	border: 1px solid #BFBFBF;
}
.specImg{
	width: 25%;
}
