.weixinArticle-container{
	width: 90%;
}
.weixinArticle-head{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.weixinArticle-search{
	width: 50%;
}
.weixinArticle-add{
	width: 143px;
	height: 38px;
	line-height: 38px;
	background: #8cdd16;
	color: #FFFFFF;
	text-align: center;
	border: 0;
	font-size: 14px;
}
.weixinArticle-table{
	text-align: center;
	border: 1px solid #e5e5e5;
}
.weixinArticle-table th{
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	background: #eeeeee;
	border: 1px solid #e5e5e5;
}
.weixinArticle-table td{
	font-size: 16px;
	padding: 5px 0;
}
.weixinArticle-table-operate span{
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
.weixinArticle-operate1{
	width: 37px;
	height: 22px;
	background: url(../images/weixinArticle-operate1.png);
}
.weixinArticle-operate2{
	width: 19px;
	height: 25px;
	background: url(../images/weixinArticle-operate2.png);
}