.quantable {
	border: solid #9DA0A4 1px;
	text-align: center;
}

.quantable td {
	border: solid #d2d2d2 1px;
	font-size: 15px;
	line-height: 32px;
}

.quantd {
	border: none;
}

.quanspan {
	color: red;
	font-size: 16px;
	font-weight: bold;
	line-height: 35px;
	cursor: pointer;
}

.quancheck-span {
	line-height: 40px;
	font-size: 15px;
	margin-left: 25px;
}

.span-check {
	color: #FF0000;
	font-size: 16px;
}

.quanspan-check {
	background: #ffae01;
	color: #FFFFFF;
	padding: 5px;
}

.quanspan-bor {
	background: white;
	color: black;
	padding: 5px;
}

.span-color-send {
	color: #FFAE01;
}

.span-color-edit {
	color: #00FF00;
}

.span-color-del {
	color: #AFB5BF;
}

input {
	height: 22px;
	border: 1px solid #d9d9d9;
	margin-left: 10px;
}

.couponManage {
	max-height: 75vh;
	overflow: auto;
}

.table-operate img {
	padding: 10px;
	margin: 0 5px;
	cursor: pointer;
}

.coupmodal-title {
	text-align: center;
	padding: 0px 0px;
	font-size: 16px;
	margin: 0;
}

.notes-searh {
	width: 100%;
	font-size: 15px;
	position: relative;
	margin-left: 10px;
	height: 100px;
	border-bottom: solid 1px #EFEFEF;
	padding-bottom: 5px;
}

.notes-text {
	height: 25px;
	width: 17%;
	position: relative;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding-left: 10px;
}

.notes-searh select {
	width: 20%;
	border-radius: 5px;
	margin-right: 10px;
	color: #808080;
	height: 27px;
}

.notes-searh span {
	position: relative;
	margin-right: 20px;
}

.mark-button {
	position: relative;
	float: right;
	margin-top: 20px;
	margin-right: 30px;
	margin-bottom: 10px;
}

.coufirm {
	padding: 3px 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background: #ffae01;
	color: #FFFFFF;
	font-size: 15px;
}

.coufirmBt {
	background: #FFFFFF;
	color: #ffae01;
	border: 1px solid #FFAE01;
	border-radius: 5px;
	margin-left: 20px;
	padding: 2px 17px;
	font-size: 15px;
}

.notes-table {
	border: solid 1px #CCCCCC;
	text-align: center;
	width: 100%;
	position: relative;
	margin-top: 25px;
}

.notes-table td {
	padding: 4px;
	border-right: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
	font-size: 15px;
}